{% extends 'shareView/base.html' %}



{% block content %}
    <div id="page-content-wrapper">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>代码</th>
                <th>名称</th>
                <th>买入价格</th>
                <th>买入数量</th>
                <th>五日内最大波动</th>
                <th>止损价格</th>
                <th>双重均线是否交叉(暂不可用)</th>
                <th>编辑</th>
                <th>删除</th>
            </tr>
            </thead>
            <tbody>
            {% for share in object_list %}
                <tr>
                    <td>{{ share.share_code }}</td>
                    <td>{{ share.share_name }}</td>
                    <td>{{ share.share_buy_price }}</td>
                    <td>{{ share.share_buy_amount }}</td>
                    <td>{{ share.share_5day_max_agr }}</td>
                    <td>{{ share.share_stop_price }}</td>
                    <td>{{ share.double_avg_crossed }}</td>
                    <td>
                        <button id="edit" class="btn btn-info" onclick="editShare('{{ share.share_code }}')">编辑</button>
                    </td>
                    <td>
                        <button id="delete" class="btn btn-danger" onclick="deleteShare('{{ share.share_code }}')">删除</button>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td>No Item</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
        <hr>
        <button class="btn btn-success" onclick="showEdits()">
            增加股票 +
        </button>
        <hr>


        <h3 id="addtip" style="visibility: hidden;">在这里输入信息:</h3>

        <form id="addform" class="form-horizontal" action="{% url 'shareView:share-add' %}" method="post" style="visibility: hidden">
            {% csrf_token %}
            <div class="form-group">
                <label class="col-sm-2 control-label">代码</label>
                <div class="col-sm-10">
                    <input type="text" name="code" placeholder="600953">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">名称</label>
                <div class="col-sm-10">
                    <input type="text" name="name" placeholder="Amazon">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">买入价格</label>
                <div class="col-sm-10">
                    <input type="text" name="price" placeholder="12.775">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">买入手数（100股/手）</label>
                <div class="col-sm-10">
                    <input type="text" name="lot" placeholder="5">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">止损价格</label>
                <div class="col-sm-10">
                    <input type="text" name="stop_price" placeholder="12.335">
                </div>
            </div>
            <input class="btn btn-success" type="submit" value="Confirm"/>
        </form>

        {% comment %}        <div class="container-fluid">
            <div class="row">
                                <div class="col-lg-12">
                    <h1>Simple Sidebar</h1>
                    <p>This template has a responsive menu toggling system. The menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will appear/disappear. On small screens, the page content will be pushed off canvas.</p>
                    <p>Make sure to keep all page content within the <code>#page-content-wrapper</code>.</p>
                    <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
                </div>


                <ul>
                    {% for share in object_list %}
                        <li>{{ share.share_code }} - {{ share.double_avg_crossed }}</li>
                    {% empty %}
                        <li>No articles yet.</li>
                    {% endfor %}
                </ul>
            </div>
        </div>{% endcomment %}
    </div>


    <script>

        function deleteShare(share_code) {
            //var csrftoken = Cookies.get('csrftoken');
            var csrftoken = $.cookie('csrftoken');
            $.ajax({
                type: 'POST',
                url: "{% url 'shareView:share-del'  %}",
                data: {"share_code": share_code},
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            });
        }

        function editShare(share_code) {
            showEdits();
            $("input[name='code']").val(share_code);
        }

        function showEdits() {
            if ($("#addtip").css("visibility") == "hidden" || $("#addform").css("visibility") == "hidden") {
                $("#addtip").css("visibility", "visible");
                $("#addform").css("visibility", "visible");

            } else {
                $("#addtip").css("visibility", "hidden");
                $("#addform").css("visibility", "hidden");
            }
        }
    </script>
{% endblock content %}