{% extends 'shareView/base.html' %}


{% block content %}
    <div id="page-content-wrapper">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>代码</th>
                <th>名称</th>
                <th>买入价格</th>
                <th>买入数量</th>
                <th>五日内最大波动</th>
                <th>七日内加权波动均值</th>
                <th>止损价格</th>
                <th>监测状态</th>
            </tr>
            </thead>
            <tbody>
            {% for share in object_list %}
                <tr id="share-list">
                    <td>{{ share.share_code }}</td>
                    <td>{{ share.share_name }}</td>
                    <td>{{ share.share_buy_price }}</td>
                    <td>{{ share.share_buy_amount }}</td>
                    <td>{{ share.share_5day_max_agr }}</td>
                    <td>{{ share.share_7day_mwa_agr }}</td>
                    <td>{{ share.share_stop_price }}</td>
                    <td>
                        <input id="supervision-status" type="checkbox" data-size="small" {{ share.supervision_status }}>
                    </td>
                    {% comment %}                    <td>
                        <button id="delete" class="btn btn-danger" onclick="deleteShare('{{ share.share_code }}')">Delete</button>
                    </td>{% endcomment %}
                </tr>
            {% empty %}
                <tr>
                    <td>No Item</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
        <hr>

        <script>
            var supervision_status = '{{ share.share_code }}';
            $(function () {
                $('#supervision-status').bootstrapToggle({
                    on: '开启',
                    off: '关闭'
                });
                $('#supervision-status').change(function () {
                    var csrftoken = $.cookie('csrftoken');
                    var code = $("#share-list td:first").text();
                    $.ajax({
                        type: 'POST',
                        url: "{% url 'shareView:supervision-update'  %}",
                        data: {"code": code, "status": $(this).prop('checked')},
                        beforeSend: function (xhr, settings) {
                            xhr.setRequestHeader("X-CSRFToken", csrftoken);
                        }
                    });
                    //alert($(this).prop('checked'));
                })
            })
        </script>
{% endblock content %}